{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 3,
  "trailingComma": "es5",
  "printWidth": 120,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}